<h1>Home Page Tiles</h1>

<p>The website home page is made from a number of tiles. Tiles are added to the home page from left to right, in the order they are listed below.</p>

<div class="row-fluid">
  <div class="span4 well">

<table class="table table-striped table-hover" style="width : 100%" >
  <thead>
    <tr>
      <th>Tile type</th>
      <th width="120px">Visibility</th>
      <th width="210px"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.tile.name %></div></td>
        <td><%= content.display %></div></td>
        <td>
            <div class="btn-group-xs">
                <%= link_to 'Move to Top', move_content_path(content), data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-warning" %>
                <%= link_to 'Edit', edit_content_path(content), :class => "btn btn-sm btn-success" %>
                <%= link_to 'Delete', content, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %>
            </div>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>


    <%= link_to 'Add tile', new_content_path, class: "btn btn-sm btn-success" %>
    <%= link_to "Back to Settings Menu", mjweb.settings_path, class: "btn btn-sm btn-warning btn pull-right" %>
    
</div></div>
