<h1>New content</h1>

<div class="row-fluid">
  <div class="span4 well">
     <fieldset>
  <%= form_for(@content) do |f| %>

  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :company_id, :value => current_user.company_id %>
  <%= f.hidden_field :tile_ref, :value => @tile_ref %>
 

      <div class="form-group">
        <label class="control-label">Select Tile Type
            <div class="help_tooltip" id="29"></div> 
        </label> 
        <%= f.collection_select(:tile_id, @tiles, :id, :name, {}, :class=>"form-control")  %>
    </div>
      <div class="form-group">
        <label class="control-label">Set Display Options
            <div class="help_tooltip" id="30"></div> 
        </label> 
        <%= f.select(:display, [['All devices', 'All devices'], ['Desktops & Tablets', 'Desktops & Tablets'], ['Desktops only', 'Desktops only']], {}, :class=>"form-control" )  %>
    </div>

        <div class="form-actions">
            <%= f.submit "Add/Update Tile", class: "btn btn-success" %>
            <%= link_to "Back to tile list", mjweb.contents_path, class: "btn btn-sm btn-warning btn pull-right" %>
        </div>
<fieldset>
    <% end %>
</div>
</div>