<div class="page_title">
    <h1>New Tile</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@content) do |f| %>
                  <%= f.hidden_field :company_id, :value => current_user.company_id %>
                  <%= f.hidden_field :tile_ref, :value => @tile_ref %>    
                    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:120px">Select Tile Type:</label>                        
                            <div class="column_form_input"><%= f.collection_select(:tile_id, @tiles, :id, :name, {}, :class => "full_width")  %></div>
                            <div class="column_help_tooltip" id="website_tile_type"></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:120px">Set Display Options:</label>                        
                            <div class="column_form_input"><%= f.select(:display, [['All devices', 'All devices'], ['Desktops & Tablets', 'Desktops & Tablets'], ['Desktops only', 'Desktops only']], {}, :class => "full_width") %></div>
                            <div class="column_help_tooltip" id="website_tile_display"></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>
                <div class="column_submit"><%= f.submit "add tile"%></div>
                <div class="column_cancel"><%= link_to "cancel", contents_path %></div>
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>
