

<p>
  <strong>Company:</strong>
  <%= @content.company_id %>
</p>

<p>
  <strong>Tile:</strong>
  <%= @content.tile_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @content.order %>
</p>

<p>
  <strong>Display:</strong>
  <%= @content.display %>
</p>

<p>
  <strong>Link:</strong>
  <%= @content.link %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
