<h3>Upload new image</h3>
<p>Note: Background files and supporting code must be added separately for each new background</p>

<div class="row-fluid">
  <div class="span4 well">
    <%= form_for(@background, :html => {:multipart => true}) do |f| %>
        <fieldset>
      <% if @background.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@background.errors.count, "error") %> prohibited this image from being saved:</h2>
    
          <ul>
          <% @background.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        
    
          <div class="form-group">
            <label class="control-label">Background Name</label>
            <%= f.text_field :name, :class=>"form-control"  %>
          </div>
      
          <div class="form-group">
            <label class="control-label">Image</label>  
            <%= f.file_field :background, :class=>"form-control"  %>
          </div>

      
      <div class="form-actions">
        <%= f.submit "Upload background image", class: "btn btn-success" %>
        <%= link_to "Back to backgrounds", mjweb.backgrounds_path, class: "btn btn-sm btn-warning btn pull-right" %>
      </div>
      </fieldset>
    <% end %>
  </div>
</div>
