<div class="page_title">
    <h1>Website Design Settings</h1>
</div>
<div class="page_title">
    <h1>Add Background Image</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">
            
            <% if @background.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@background.errors.count, "error") %> prohibited this detail from being saved:</p>
                  <ul>
                  <% @background.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <p>Note: Background files and supporting code must be added separately for each new background</p>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@background) do |f| %>

                        <div class="column_form_item">
                            <label class="column_form_label" style="width:80px">Background Name:</label>                        
                            <div class="column_form_input"><%= f.text_field :name %></div>
                        </div>
                        <div class="column_form_item_dd-select">
                            <label class="column_form_label" style="width:80px">Image:</label>
                            <div class="column_form_input"><%= f.text_field :background  %></div>
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>
                <div class="column_submit"><%= f.submit "save" %></div>
                <div class="column_cancel"><%= link_to "Back to backgrounds", mjweb.backgrounds_path %></div>
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>

