<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @background.name %>
</p>

<p>
  <strong>Background:</strong>
  <%= @background.background %>
</p>

<%= link_to 'Edit', edit_background_path(@background) %> |
<%= link_to 'Back', backgrounds_path %>
