<div class="row-fluid">
    <div class="span4 well">
        <%= form_for(@about) do |f| %>
          <fieldset>
              <% if @about.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@about.errors.count, "error") %> prohibited this about from being saved:</h2>
            
                  <ul>
                  <% @about.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
            
                <%= f.hidden_field :company_id, :value => current_user.company_id %>
              
                <div class="form-group">
                    <label class="control-label">Item Title
                        <div class="help_tooltip" id="35"></div>
                    </label>
                    <div class="pull-right" id="count_message"></div>  
                <%= f.text_field :title, :class=>"form-control text_count", :maxlength => 20 %>
                </div>
            
                <% if @images %>
                    <div class="form-group">
                    <label class="control-label">Select Image
                        <div class="help_tooltip" id="36"></div>                        
                    </label> 
                    <%= f.collection_select(:image_id, @images, :id, :name, {:prompt => :true}, :class=>"form-control" )%>
                    </div>    
                <% else %>
                    <label class="control-label">No images are available, please upload images before selecting.
                        <div class="help_tooltip" id="36"></div>
                    </label>         
                <% end %>
            
                <div class="form-group">
                    <label class="control-label ">Description
                        <div class="help_tooltip" id="37"></div>
                    </label>
                    <div class="pull-right" id="count_message"></div>                                
                <%= f.text_area :text, :class=>"form-control text_count", :maxlength => 500 %>
                </div>
                
                  <div class="form-group">
                    <label class="control-label">Link Text
                        <div class="help_tooltip" id="39"></div>
                    </label>              
                  <%= f.text_field :link_text, :class=>"form-control text_count", :maxlength => 50    %>
                  </div>
    
                  <div class="form-group">
                    <label class="control-label">Link URL
                        <div class="help_tooltip" id="38"></div>
                    </label>              
                  <%= f.url_field :link_url, :class=>"form-control"  %>
                  </div>            
            
                <div class="form-actions">
                    <%= f.submit class: "btn btn-success" %>
                    <%= link_to "Back to Settings Menu", mjweb.settings_path, class: "btn btn-sm btn-warning btn pull-right" %>
                </div>

          </fieldset>
        <% end %>
    </div>
</div>