<div class="page_title">
    <h1>Tagline & Social Media Links</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">

            <% if @detail.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</p>
                  <ul>
                  <% @detail.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>

            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@detail) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>    
                    
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Tagline:</label>                        
                            <div class="column_form_input"><%= f.text_field :tagline %></div>
                            <div class="column_help_tooltip" id="website_tagline"></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Facebook Link:</label>                        
                            <div class="column_form_input"><%= f.url_field :facebook %></div>
                            <div class="column_help_tooltip" id="website_facebook"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Twitter Link:</label>                        
                            <div class="column_form_input"><%= f.url_field :twitter %></div>
                            <div class="column_help_tooltip" id="website_twitter"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Google+ Link:</label>                        
                            <div class="column_form_input"><%= f.url_field :googleplus %></div>
                            <div class="column_help_tooltip" id="website_googleplus"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label" style="width:90px">Linkedin Link:</label>                        
                            <div class="column_form_input"><%= f.url_field :linkedin %></div>
                            <div class="column_help_tooltip" id="website_linkedin"></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>
                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", contents_path %></div>                
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>



