<head>  
  <%= stylesheet_link_tag    'mjweb/application', media: 'all'%>
  <%= javascript_include_tag 'mjweb/application'%>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<p id="notice"><%= notice %></p>


<h1>Company Details & Colour Scheme</h1>



<%= bootstrap_form_for(@detail) do |f| %>

  <p id="notice"><%= notice %></p>
  
  <%= f.hidden_field :company_id, :value => current_user.company_id %>

  <% if @detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
      <% @detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :subdomain_name, label: "Subdomain Name (your_name.myhq.co.uk)"  %>
  </div>
  <div class="field">
    <%= f.text_field :tile_colour, label: "Colour of Information Tiles"  %>
  </div>
  <div class="field">
    <%= f.text_field :background, label: "Background Pattern"  %>
  </div>
 <div class="field">
    <%= f.text_field :font, label: "Font Style"  %>
  </div>
  <div class="field">
    <%= f.text_area :tagline, label: "Trading Hours (Monday)"  %>
  </div>
    <div class="field">
    <%= f.text_area :Monday, label: "Trading Hours (Monday)" %>
  </div>
    <div class="field">
    <%= f.text_area :Tuesday, label: "Trading Hours (Tuesday)"  %>
  </div>
    <div class="field">
    <%= f.text_area :Wednesday, label: "Trading Hours (Wednesday)"  %>
  </div>
  <div class="field">
    <%= f.text_area :Thursday, label: "Trading Hours (Thursday)"  %>
  </div>
  <div class="field">
    <%= f.text_area :Friday, label: "Trading Hours (Friday)"  %>
  </div>
  <div class="field">
    <%= f.text_area :Saturday, label: "Trading Hours (Saturday)"  %>
  </div>  
  <div class="field">
    <%= f.text_area :Sunday, label: "Trading Hours (Sunday)"  %>
  </div>  
  
  <div class="field">
    <%= f.text_field :ecommerce, label: "Web address for E-commerce site"  %>
  </div>
  <div class="field">
    <%= f.text_field :facebook, label: "Facebook address"  %>
  </div>
  <div class="field">
    <%= f.text_field :twitter, label: "Twitter address" %>
  </div>
  <div class="field">
    <%= f.text_field :googleplus, label: "Google+ address" %>
  </div>
  <div class="field">
    <%= f.text_field :linkedin, label: "Linkedin address"  %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to "Back to Settings Menu", mjweb.settings_path, class: "btn btn-sm btn-warning btn pull-right" %>
  </div>
<% end %>



