<div class="row title_band">
    <div class="page_title">
        <h1>Tagline & Social Media Links</h1>
    </div>
    <div class="title_help" id="page_detail_edit"></div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

<!-- error messages - associated with form start--> 
            <%= render :partial => "form_error", :locals => {:item => @detail} %>

<!-- form column start-->
            <div class="row">
                <%= form_for(@detail) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>  
                    <fieldset>

                        <!-- form input[textarea] -->
                        <div class="form_tooltip" id="website_tagline"></div>
                        <label class="label_90">Tag Line:</label>
                        <span>
                            <%= f.text_area :tagline, {rows: 5, maxlength: 300, class: "maxlength"} %>
                            <p class="input_note">Maximum of 300 characters</p>
                        </span></br>

                        <!-- form input[select] -->
                        <div class="form_tooltip" id="website_facebook"></div>
                        <label class="label_90">Facebook Link:</label>
                        <span>
                           <%= f.url_field :facebook %>
                        </span></br>

                        <!-- form input[select] -->
                        <div class="form_tooltip" id="website_twitter"></div>
                        <label class="label_90">Twitter Link:</label>
                        <span>
                           <%= f.url_field :twitter %>
                        </span></br>

                        <!-- form input[select] -->
                        <div class="form_tooltip" id="website_googleplus"></div>
                        <label class="label_90">Google+ Link:</label>
                        <span>
                           <%= f.url_field :googleplus %>
                        </span></br>

                        <!-- form input[select] -->
                        <div class="form_tooltip" id="website_linkedin"></div>
                        <label class="label_90">Linkedin Link:</label>
                        <span>
                           <%= f.url_field :linkedin %>
                        </span></br>

                        <!-- form input[select] -->
                        <div class="form_tooltip" id="website_instagram"></div>
                        <label class="label_90">Instagram Link:</label>
                        <span>
                           <%= f.url_field :instagram %>
                        </span></br>

                    </fieldset>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save"%>
                    <%= link_to "cancel", contents_path %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>
