<p id="notice"><%= notice %></p>

<h2>Company Tagline & Social Media Links</h2>

<div class="row-fluid">
  <div class="span4 well">
    <%= form_for(@detail) do |f| %>
      <fieldset>
          <p id="notice"><%= notice %></p>
          
          <%= f.hidden_field :company_id, :value => current_user.company_id %>
        
          <% if @detail.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>
        
              <ul>
              <% @detail.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
     
      
          <div class="form-group">
            <label class="control-label">Tagline
                <div class="help_tooltip" id="22"></div>
            </label>   
            <%= f.text_area :tagline, :class=>"form-control" %>
          </div> 
     
          <div class="form-group">
            <label class="control-label">Facebook Address
                <div class="help_tooltip" id="23"></div>
            </label>   
            <%= f.url_field :facebook, :class=>"form-control" %>
          </div> 
      
          <div class="form-group">
            <label class="control-label">Twitter Address
                <div class="help_tooltip" id="24"></div>
            </label>   
            <%= f.url_field :twitter, :class=>"form-control" %>
          </div> 
      
          <div class="form-group">
            <label class="control-label">Google+ Address
                <div class="help_tooltip" id="25"></div>
            </label>   
            <%= f.url_field :googleplus, :class=>"form-control" %>
          </div>  
          
          <div class="form-group">
            <label class="control-label">Linkedin Address
                <div class="help_tooltip" id="26"></div>
            </label>   
            <%= f.url_field :linkedin, :class=>"form-control" %>
          </div>        
          
          <div class="form-actions">
            <%= f.submit "Update",  class: "btn btn-success" %>
            <%= link_to "Back to Settings Menu", mjweb.settings_path, class: "btn btn-sm btn-warning btn pull-right" %>
          </div>
      </fieldset>
    <% end %>
  </div>
</div>


