<div class="row title_band">
    <div class="page_title">
        <h1>Edit Tile Content</h1>
    </div>
    <div class="title_help" id="page_linktiles_edit"></div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

<!-- error messages - associated with form start-->
            <%= render :partial => "form_error", :locals => {:item => @linktile} %>

<!-- form column start-->
            <div class="row">
                <%= form_for(@linktile) do |f| %>
                    <%= f.hidden_field :content_id, :value => @linktile.content_id %> 
                    <fieldset>

                        <div class="form_tooltip" id="linktile_title"></div>
                        <label class="label_80">Title:*</label>
                        <span>
                            <%= f.text_field :title, maxlength: 30, class: "maxlength" %>
                            <p class="input_note">Maximum of 30 characters</p>
                        </span></br>

                        <!-- form input[radio] --> 
                        <div class="form_tooltip"></div>
                        <label class="label_80">Tile Type:</label>
                        <span>
                            <%= radio_button("linktile", "type_id", 1) %>
                            <span>Link only (ext. url)</span>
                        </span></br>

                        <!-- form input[radio] -->
                        <div class="form_tooltip"></div>
                        <label class="label_80"></label>
                        <span>
                            <%= radio_button("linktile", "type_id", 2) %>
                            <span>Link only (page)</span>
                        </span></br>

                        <!-- form input[radio] -->
                        <div class="form_tooltip"></div>
                        <label class="label_80"></label>
                        <span>
                            <%= radio_button("linktile", "type_id", 3) %>
                            <span>Link & List of Items</span>
                        </span></br>

                        <!-- form input[radio] -->
                        <div class="form_tooltip"></div>
                        <label class="label_80"></label>
                        <span>
                            <%= radio_button("linktile", "type_id", 4) %>
                            <span>List of Items</span>
                        </span></br>
                    </fieldset>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save & next"%>
                    <%= link_to "cancel", contents_path %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>