<div class="page_title">
    <h1>Edit tile details</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">
        
        <% if @linktile.errors.any? %>
            <div class="column_error">
                <p><%= pluralize(@linktile.errors.count, "error") %> prohibited this project from being created</p>
                <ul>
                <% @linktile.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>            
            </div>
        <% end %>
        
            <div class="column_sub_content">
                <div class="column_form">
                    <%= form_for(@linktile) do |f| %>
                        <%= f.hidden_field :content_id, :value => @linktile.content_id %>  
                        
                            <div class="column_form_item">
                                <label class="column_form_label" style="width:80px">Title:*</label>                        
                                <div class="column_form_input"><%= f.text_field :title, :maxlength => 30 %></div>
                                <div class="column_help_tooltip" id="linktile_title"></div>   
                            </div>
                            <div class="column_form_item_dd-select">
                                <label class="column_form_label" style="width:80px">Tile Icon:*</label>                        
                                <div class="column_form_input"><%= f.select :icon_id, options_for_select(Mjweb::Icon.all.map{ |c| [c.name, c.id, {'data-imagesrc' => c.icon_url}] }, @linktile.icon_id) %></div>
                                <div class="column_help_tooltip" id="linktile_icon"></div>   
                            </div>
                            <div class="column_form_item">
                                <label class="column_form_label" style="width:80px">Link Page:*</label>                        
                                <div class="column_form_input"><%= f.collection_select(:page_id, @pages, :id, :name, {:prompt => :true}, :class => "full_width")  %></div>
                                <div class="column_help_tooltip" id="linktile_linkpage"></div>   
                            </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>

                <div class="column_submit"><%= f.submit "save"%></div>
                <div class="column_cancel"><%= link_to "cancel", contents_path %></div>
                <% end %>

           </div>
            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 
</div>
