<div class="page_title">
    <h1>Website Design Settings</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">
        
            <% if notice %>
                <div class="column_confirm">
                    <p><%= notice %></p>
                </div>
            <% end %>
            
            <% if @design.errors.any? %>
            <div class="column_error">
            <p><%= pluralize(@design.errors.count, "error") %> prohibited this detail from being saved:</p>
                  <ul>
                  <% @design.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
            
            <div class="column_sub_content">
                <div class="column_form">
                <%= form_for(@design) do |f| %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>    
                    
                        <div class="column_form_item">
                            <label class="column_form_label">Tile Colour:</label>                        
                            <div class="column_form_input"><%= f.color_field :tile_colour %></div>
                            <div class="column_help_tooltip" id="website_tile_colour"></div> 
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label">Background:</label>                        
                            <div class="column_form_input"><%= f.select :background_id, options_for_select(Mjweb::Background.all.map{ |c| [c.name, c.id, {'data-img-src' => c.background}] }) %></div>
                            <div class="column_help_tooltip" id="website_background"></div>  
                        </div>
                        <div class="column_form_item">
                            <label class="column_form_label">Title Font:</label>                        
                            <div class="column_form_input"> <%= f.select :font_id, options_for_select(Mjweb::Font.all.map{ |c| [c.name, c.id, {'data-img-src' => c.font}] }) %></div>
                            <div class="column_help_tooltip" id="website_font"></div>  
                        </div>
                </div>
           </div>     
                
           <div class="column_footer">
                <div class="column_line"></div>
                <div class="column_submit"><%= f.submit "save"%></div>
                <% end %>
           </div>
            
        </div>
    </div>
    <div class="column_2 column_blank"></div> 
    <div class="column_3 column_blank"></div> 
</div>


