<!DOCTYPE html>
<html>
    <head>
    <title>MyHQ Website</title>
  
        <%= stylesheet_link_tag    'mjweb/application', media: 'all'%>
        <%= javascript_include_tag 'mjweb/application'%>
        <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
        
        <div class="body_container">
        
            <header class="app_page_header">        
                <figure class="app_logo"></figure>
                <%= render :partial => "web_menu" %>                                                     
                <%= render :partial => "user_menu" %>        
                <nav class="app_logout"><%= link_to "logout", main_app.destroy_user_session_path, method: :delete %></nav>                
            </header>
    
       <!--     <div  class="header_message">Success or Error Message Here</div> -->

     
            <%= yield %>
    
        </div> 
    </body>
</html>