<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
    <%= set_background(@design) %>
            
    <title><%=h @detail.company.name %></title> 
      <%= stylesheet_link_tag 'mjweb/application', media: 'all'%>
      <%= javascript_include_tag 'mjweb/application'%>
      
      <style>
        html { font-size: 62.5%; }
        
        body {  }
    
        .tagline_cell_small{ <%=h font_style_colour(@design.font_id) %> }   
        .tagline_cell_medium{ <%=h font_style_colour(@design.font_id) %> }
                
        .tile_title_text{ <%=h font_style_colour(@design.font_id) %>}        
        .web_content_tile_title{ <%=h font_style_colour(@design.font_id) %>}
            
        <% @colour_settings.each_with_index do |setting, i| %>        
            .colour_<%=h i %>{
                color: <%=h setting[:text] %>;
                background-color: <%=h setting[:tile] %>;        
            }           
      
            .hover_<%=h i %>{background-color: <%=h setting[:tile] %>;}
            .hover_<%=h i %>:hover{background-color: <%=h setting[:tile_hover] %>;}
            
            a.hover_link_<%=h i %>{color: <%=h setting[:text] %>;}
            a.hover_link_<%=h i %>:visited{color: <%=h setting[:text] %>;}
            a.hover_link_<%=h i %>:hover{color: <%=h setting[:text_hover] %>;}
            
            

            .web_content_tile_image{ border: 2px solid <%=h setting[:tile] %>}
            .web_content_tile_title{ color: <%=h setting[:tile] %>}
            .web_content_tile_link{background-color: <%=h setting[:tile] %>; border: 2px solid <%=h setting[:tile] %>}
            .web_content_tile_link:hover{background-color: <%=h setting[:tile_hover] %>; border: 2px solid <%=h setting[:tile_hover] %>}
            .web_content_tile_link_text{ color: <%=h setting[:text] %>}
            .web_content_tile_link_text:hover{color: <%=h setting[:text_hover] %>;}

        <% end %>
        

        
      </style>
    </head>
    
    <body>    
        <div class="container">    
        
        <header>    
            <div class="login_container">
              <%= link_to "Log-in", main_app.new_user_session_path, class: "login_link"%>   
            </div>
        
        
            <div class="company_info_small">    
                <div class="header_container">   
                    <a class="company_logo_link" href="">
                        <div class="company_logo_small"><%= image_tag @detail.company.logo, height: '75'%></div>      
                    </a>
                    <% if @detail.tagline %>
                        <div class="company_tagline_small"> <table><tr><td class="tagline_cell_small"><%= @detail.tagline %></td></tr></table></div> 
                    <% end %>
                </div>
            </div>
        
            <div class="company_info_medium">    
                <div class="header_container">
                    <table border="0" cellpadding="0" cellspacing="0" class="company_logo_medium">
                        <tr>
                            <td>
                                <a class="company_logo_link" href="<%= websites_path %>">
                                    <div class="company_logo_small"><%= image_tag @detail.company.logo, height: '75'%></div>      
                                </a>                                                                
                            </td>
                            <% if @detail.tagline %>
                                <td class="tagline_cell_medium"><%= @detail.tagline %></td>
                            <% end %>
                        </tr>
                    </table>
                </div>
            </div>
        
            <div class="social_media_container">                  
                <% if !@detail.facebook.blank? %>
                    <div class="social_media_link">
                        <%= link_to " ", @detail.facebook, class: "facebook"%> 
                    </div>
                <% end %>
                <% if !@detail.twitter.blank? %>
                    <div class="social_media_link">
                        <%= link_to " ", @detail.twitter, class: "twitter"%> 
                    </div>
                <% end %>
                <% if !@detail.googleplus.blank? %>
                    <div class="social_media_link">
                        <%= link_to " ", @detail.googleplus, class: "googleplus"%> 
                    </div>
                <% end %>
                <% if !@detail.linkedin.blank? %>
                    <div class="social_media_link">
                        <%= link_to " ", @detail.linkedin, class: "linkedin"%> 
                    </div>
                <% end %>  
            </div>  
        </header> 
        
        <%= yield %>
        <%= render :partial => "footer" %>
        </div>        
    </body>
</html>
