<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

<!-- error messages - associated with form start--> 
            <%= render :partial => "form_error", :locals => {:item => @event} %>

<!-- form column start-->
            <div class="row">
                <%= form_for(@event) do |f| %>      
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>
                    <fieldset>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="event_topic"></div>
                        <label class="label_80">Topic:*</label>
                        <span>
                            <%= f.text_field :topic %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="event_date"></div>
                        <label class="label_80">Date:*</label>
                        <span>
                            <%= f.date_field :date, {placeholder: 'dd/mm/yyyy'}%>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="event_start_time"></div>
                        <label class="label_80">Start Time:*</label>
                        <span>
                            <%= f.time_field :start, {placeholder: 'hh:mm'} %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="event_start_time"></div>
                        <label class="label_80">Finish Time:*</label>
                        <span>
                            <%= f.time_field :finish, {placeholder: 'hh:mm'} %>
                        </span></br>
                        
                        <!-- form input[text] -->
                        <div class="form_tooltip" id="event_venue"></div>
                        <label class="label_80">Venue:*</label>
                        <span>
                            <%= f.text_field :venue %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="event_address"></div>
                        <label class="label_80">Address:*</label>
                        <span>
                            <%= f.text_field :address %>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="event_postcode"></div>
                        <label class="label_80">Postcode:*</label>
                        <span>
                            <%= f.text_field :postcode %>
                        </span></br>

                        <!-- form input[url] -->
                        <div class="form_tooltip" id="event_link"></div>
                        <label class="label_80">Link:</label>
                        <span>
                            <%= f.url_field :link %>
                        </span></br>
                        
                    </fieldset>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save"%>
                    <%= link_to "cancel", events_path %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div> 
