<div class="row title_band">
    <div class="page_title">
        <h1>Events</h1>
    </div>
    <div class="title_help" id="events_index"></div>
    <div><%= link_to "add event", new_event_path, class: "title_button" %></div> 
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">                
                
            <%= render :partial => "flash_notice" %>

            <div class="row">                
                <table>
                    <thead>
                        <tr>
                            <th class="event_topic">Topic</th>
                            <th class="event_date">Date</th>
                            <th class="event_start">Start</th>
                            <th class="event_finish">Finish</th>
                            <th class="event_venue">Venue</th>
                            <th class="event_address">Address</th>
                            <th class="event_postcode">Postcode</th>
                            <th class="event_link">Link</th>
                            <th class="row_button no_buttons_2"></th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @events %>            
                            <% @events.each do |event| %>
                                <tr>
                                    <td class="event_topic"><%= event.topic %></td>
                                    <td class="event_date"><%= event.date.strftime("%d/%m/%y") %></td>
                                    <td class="event_start"><%= event.start.strftime("%k:%M") %></td>
                                    <td class="event_finish"><%= event.finish.strftime("%k:%M") %></td>
                                    <td class="event_venue"><%= event.venue %></td>
                                    <td class="event_address"><%= event.address %></td>
                                    <td class="event_postcode"><%= event.postcode %></td>
                                    <td class="event_link"><%= event.link %></td>
                                    <td class="row_button no_buttons_2">
                                        <%= link_to '', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'line_delete_icon', title: "delete event"  %>
                                        <%= link_to '', edit_event_path(event), class: 'line_edit_icon', title: "edit event" %>                                       
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>