<h2>Add new image</h2>

<div class="row-fluid">
  <div class="span4 well">
    <%= form_for(@imagesetting) do |f| %>
      </fieldset>
          <% if @imagesetting.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@imagesetting.errors.count, "error") %> prohibited this image from being added:</h2>
        
              <ul>
              <% @imagesetting.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            
          <%= f.hidden_field :content_id, :value => @content.id %>
        
          <div class="form-group">
            <label class="control-label">Select image file
                <div class="help_tooltip" id="22"></div>
            </label> 
                <%= f.collection_select(:image_id, @images, :id, :name, {}, :class=>"form-control" ) %> 
          </div>
        
          <div class="form-actions">
            <%= f.submit "Add image to tile", class: "btn btn-success" %>
            <%= link_to "Back to Image List", list_imagesetting_path(:id => @content.id), class: "btn btn-sm btn-warning btn pull-right" %>
          </div>
      </fieldset>
    <% end %>
  </div>
</div>

