<div class="row title_band">
    <div class="page_title">
        <h1>Add Image to Tile</h1>
    </div>
    <div class="title_help" id="page_imagesettings_new"></div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

<!-- error messages - associated with form start--> 
            <%= render :partial => "form_error", :locals => {:item => @imagesetting} %>

<!-- form column start-->
            <div class="row">
                <%= form_for(@imagesetting) do |f| %>
                    <%= f.hidden_field :content_id, :value => @content.id %>    
                    <fieldset>

                        <!-- form input[select] -->   
                        <div class="form_tooltip" id="imagesetting_image"></div>
                        <label class="label_80">Image:</label>
                        <span>
                            <%= f.select :image_id, options_for_select(@images.map{ |c| [c.name, c.id, {'data-imagesrc' => c.image_url(:thumb)}] }), :prompt => "Select Image...." %>
                        </span></br>  

                    </fieldset>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save"%>
                    <%= link_to "cancel", contents_path %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>