<div class="row title_band">
    <div class="page_title">
        <h1>Opening Hours</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-1">
        <div class="border">

            <%= render :partial => "form_error", :locals => {:item => @hour} %>

            <%= form_for(@hour) do |f| %>
            <div class="row">
                <div class="sub-1-3 column_1">
                    <fieldset>
                        <!-- form title -->
                        <div class="row">
                            <div class="column_title"><h3>Monday</h3></div>
                        </div>
                        <!-- form input[select] -->
                        <div class="form_tooltip" id="hours_open_status"></div>
                        <label class="label_120">Opening Status:</label>
                        <span><%= f.select :monday_status, options_for_select(["Open", "Closed"], @hour.monday_status)%></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Opening Time:</label>
                        <span><%= f.time_field :monday_open %></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Closing Time:</label>
                        <span><%= f.time_field :monday_close, {placeholder: 'hh:mm'} %></span></br>

                        <!-- form title -->
                        <div class="row">
                            <div class="column_title"><h3>Tuesday</h3></div>
                        </div>
                        <!-- form input[select] -->
                        <div class="form_tooltip" id="hours_open_status"></div>
                        <label class="label_120">Opening Status:</label>
                        <span><%= f.select :tuesday_status, options_for_select(["Open", "Closed"], @hour.tuesday_status)%></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Opening Time:</label>
                        <span><%= f.time_field :tuesday_open, {placeholder: 'hh:mm'} %></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Closing Time:</label>
                        <span><%= f.time_field :tuesday_close, {placeholder: 'hh:mm'} %></span></br>

                        <!-- form title -->
                        <div class="row">
                            <div class="column_title"><h3>Wednesday</h3></div>
                        </div>
                        <!-- form input[select] -->
                        <div class="form_tooltip" id="hours_open_status"></div>
                        <label class="label_120">Opening Status:</label>
                        <span><%= f.select :wednesday_status, options_for_select(["Open", "Closed"], @hour.wednesday_status)%></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Opening Time:</label>
                        <span><%= f.time_field :wednesday_open, {placeholder: 'hh:mm'} %></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Closing Time:</label>
                        <span><%= f.time_field :wednesday_close, {placeholder: 'hh:mm'} %></span></br>  


                    </fieldset>
                </div>

                <div class="sub-1-3 column_2">
                    <fieldset>
                        <!-- form title -->
                        <div class="row">
                            <div class="column_title"><h3>Thursday</h3></div>
                        </div>
                        <!-- form input[select] -->
                        <div class="form_tooltip" id="hours_open_status"></div>
                        <label class="label_120">Opening Status:</label>
                        <span><%= f.select :monday_status, options_for_select(["Open", "Closed"], @hour.monday_status)%></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Opening Time:</label>
                        <span><%= f.time_field :monday_open, {placeholder: 'hh:mm'} %></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Closing Time:</label>
                        <span><%= f.time_field :monday_close, {placeholder: 'hh:mm'} %></span></br>

                        <!-- form title -->
                        <div class="row">
                            <div class="column_title"><h3>Friday</h3></div>
                        </div>
                        <!-- form input[select] -->
                        <div class="form_tooltip" id="hours_open_status"></div>
                        <label class="label_120">Opening Status:</label>
                        <span><%= f.select :friday_status, options_for_select(["Open", "Closed"], @hour.friday_status)%></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Opening Time:</label>
                        <span><%= f.time_field :friday_open, {placeholder: 'hh:mm'} %></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Closing Time:</label>
                        <span><%= f.time_field :friday_close, {placeholder: 'hh:mm'} %></span></br>

                        <!-- form title -->
                        <div class="row">
                            <div class="column_title"><h3>Saturday</h3></div>
                        </div>
                        <!-- form input[select] -->
                        <div class="form_tooltip" id="hours_open_status"></div>
                        <label class="label_120">Opening Status:</label>
                        <span><%= f.select :saturday_status, options_for_select(["Open", "Closed"], @hour.saturday_status)%></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Opening Time:</label>
                        <span><%= f.time_field :saturday_open, {placeholder: 'hh:mm'} %></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Closing Time:</label>
                        <span><%= f.time_field :saturday_close, {placeholder: 'hh:mm'} %></span></br>

                    </fieldset>
                </div>

                <div class="sub-1-3 column_3">
                    <fieldset>

                        <!-- form title -->
                        <div class="row">
                            <div class="column_title"><h3>Sunday</h3></div>
                        </div>
                        <!-- form input[select] -->
                        <div class="form_tooltip" id="hours_open_status"></div>
                        <label class="label_120">Opening Status:</label>
                        <span><%= f.select :sunday_status, options_for_select(["Open", "Closed"], @hour.sunday_status)%></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Opening Time:</label>
                        <span><%= f.time_field :sunday_open, {placeholder: 'hh:mm'} %></span></br>
                        <!-- form input[time] -->
                        <label class="label_80">Closing Time:</label>
                        <span><%= f.time_field :sunday_close, {placeholder: 'hh:mm'} %></span></br>

                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save" %>
                    <%= link_to "cancel", contents_path %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>