<h1>Upload new image</h1>

<%= bootstrap_form_for(@image, :html => {:multipart => true}) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <%= f.hidden_field :company_id, :value => current_user.company_id %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  
  <div class="field">  
  <%= f.file_field :image %>
  </div>
  
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to "Back to Images", mjweb.images_path, class: "btn btn-sm btn-warning btn pull-right" %>
  </div>
<% end %>
