<div class="row">
    <div class="col-1-1">
        <div class="border">

            <%= render :partial => "form_error", :locals => {:item => @info} %>

            <%= form_for(@info) do |f| %>
                <%= f.hidden_field :page_id, :value => @page_id %>
                <%= f.hidden_field :order_ref, :value => @order_ref %>

            <div class="row">
                <div class="sub-1-3 column_1">
                    <fieldset>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="info_title"></div>
                        <label class="label_80">Title:*</label>
                        <span>
                            <%= f.text_field :title, {rows: 1, maxlength: 30, class: "maxlength"} %>
                            <p class="input_note">Maximum of 30 characters</p>
                        </span></br>

                        <!-- form input[radio] -->
                        <div class="form_tooltip" id="info_link_no_link"></div>
                        <label class="label_80"></label>
                        <span>
                            <%= f.radio_button :link_type, 1 %>
                            <span>No link.</span>
                        </span></br>

                        <!-- form input[radio] -->
                        <div class="form_tooltip" id="info_link_custom_link"></div>
                        <label class="label_80"></label>
                        <span>
                            <%= f.radio_button :link_type, 2 %>
                            <span>Link to external website/url.</span>
                        </span></br>

                        <!-- form input[radio] -->
                        <div class="form_tooltip" id="info_link_existing_page"></div>
                        <label class="label_80"></label>
                        <span>
                            <%= f.radio_button :link_type, 3 %>
                            <span>Link to existing page.</span>
                        </span></br>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="info_link_text"></div>
                        <label class="label_80">Link Text:</label>
                        <span>
                            <%= f.text_field :link_text, {rows: 1, maxlength: 50, class: "maxlength"} %>
                            <p class="input_note">Maximum of 50 characters</p>
                        </span></br>

                        <!-- form input[url] -->
                        <div class="form_tooltip" id="info_title_url"></div>
                        <label class="label_80"></label>
                        <span>
                            <%= f.url_field :link_url, :placeholder => "http://www.example.co.uk" %>
                            <p class="input_note">Maximum of 100 characters</p>
                        </span></br>


                        <!-- form input[select] -->
                        <div class="form_tooltip" id="info_link_page"></div>
                        <label class="label_80"></label>
                        <% if @pages.blank? %>
                        <span>
                           No pages available.
                        </span></br>
                        <% else %>
                        <span>
                           <%= f.select :link_page_id, options_for_select(@pages.map{ |c| [c.name, c.id,] }, @info.link_page_id), {:prompt => "Select page to link to...."} %>
                        </span></br>
                        <% end %>

                        <!-- form input[image-select] -->
                        <div class="form_image_select">
                            <div class="form_tooltip" id="info_image"></div>
                            <label class="label_80">Image*:</label>
                            <% if @images.blank? %>
                            <span>
                               No images available, please upload images before selecting.
                            </span></br>
                            <% else %>
                            <div>
                               <%= f.select :image_id, options_for_select(@images.map{ |c| [c.name, c.id, {'data-imagesrc' => c.image_url(:thumb)}] }, @info.image_id), :prompt => "Select Image...." %>
                            </div>
                            <% end %>
                        </div>

                    </fieldset>
                </div>
                <div class="sub-1-3 column_2">
                    <fieldset>

                        <!-- form input[text] -->
                        <div class="form_tooltip" id="customer_notes"></div>
                        <label class="label_80">Description:*</label>
                        <span>
                            <%= f.text_area :text, {rows: 10, maxlength: 500, class: "maxlength"} %>
                            <p class="input_note">Maximum of 500 characters</p>
                        </span></br>

                    </fieldset>
                </div>
                <div class="sub-1-3 column_3 blank_column">
                </div>
            </div>
            
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save" %>
                    <%= link_to "cancel", infos_path(:id => @page_id) %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
