<div class="row title_band">
    <div class="page_title">
        <h1>Customers Details</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-1">
        <div class="border">

            <%= render :partial => "flash_notice" %>
    
            <div class="row">
                <div class="sub-1-3 column_1">
                    <article>
                        <div class="article-set">

                            <!-- show text line --> 
                            <label class="label_80">Title:</label>
                            <span><%= @info.title %></span></br>
    
                            <!-- show text line --> 
                            <label class="label_80">Text:</label>
                            <span><%= @info.text %></span></br>

                        </div>
                    </article>
                </div>
                <div class="sub-1-3 column_2">
                    <article>
                        <div class="article-set">

                        <!-- show text line --> 
                        <label class="label_80">Link Text:</label>
                        <span><%= @info.link_text %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Link Url:</label>
                        <span><%= @info.link_url %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Link to Page:</label>
                        <span><%= @info.link_page.name if @info.link_page_id? %></span></br>

                        <!-- show text line --> 
                        <label class="label_80">Image</label>
                        <span>
                            <%= image_tag(@info.image.image_url(:thumb)) if @info.image_id? %>
                        </span></br>

                        </div>
                    </article>
                </div>
                
                <div class="sub-1-3 column_3 blank_column">
                </div>
            </div>
            
            <div class="row">
                <div class="form_footer">
                    <%= link_to 'Back', infos_path(:id => @info.page_id) %>
                </div>
            </div>
        </div>
    </div>
</div>