<h2>Edit help text</h2>

<div class="row-fluid">
  <div class="span4 well">
    <%= form_for(@help) do |f| %>
      <fieldset>      
          <% if @help.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@help.errors.count, "error") %> prohibited this help from being saved:</h2>
        
              <ul>
              <% @help.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
    
          <div class="form-group">
            <label class="control-label">Help Text</label>   
            <%= f.text_area :text, :class=>"form-control" %>
          </div> 

          <div class="form-actions">
            <%= f.submit class: "btn btn-success" %>
          </div>
      </fieldset>
    <% end %>
  </div>
</div>

<%= link_to 'Back', main_app.dashboards_path %>
