
    <div class="feature_tile">     
        <div class="feature_tile_container">
            <% @infos.each_with_index do |info, i|%>
            <div id ="feature_tile_<%= i %>" class="feature_tile_item">
                <div class="feature_sub_tile">                
			<% if info.image_id %>                    
				<%= image_tag info.image.image, :border=>0, :class=>"web_content_tile_image" %>
			<% end %>
                    <p class="web_content_tile_title"><%= info.title %></p>
                    <p class="web_content_tile_text"><%= info.text %></p> 
                    <% if info.link_url %>
                        <a href="<%= info.link_url %>">
                            <div class="web_content_tile_link">
                                <div class="web_content_tile_link_text"><%= info.link_text %></div>
                            </div>
                        </a>
                    <% end %>                 
                    <% if info.link_page_id %>
                        <a href="<%= page_path(info.link_page_id) %>">
                            <div class="web_content_tile_link">
                                <div class="web_content_tile_link_text"><%= info.link_text %></div>
                            </div>
                        </a>
                    <% end %>  
                </div>
            </div>
            <% end %>       
        </div>            
    </div>    