
    <div class="feature_tile">
        <div class="feature_tile_container">
            <% @infos.each_with_index do |info, i|%>
            <div id ="feature_tile_<%= i %>" class="feature_tile_item">
                <div class="feature_sub_tile">
			<% if info.image_id %>
				<%= image_tag info.image.image_url, :border=>0, :class=>"web_content_tile_image" %>
			<% end %>
                    <p class="web_content_tile_title"><%= info.title %></p>
                    <p class="web_content_tile_text"><%= info.text %></p>

                    <% if info.link_type == 2 %>
                        <a class="web_page_link" href="<%= info.link_url %>" target="_blank">
                            <div class="web_page_link_container">
                                <div class="web_page_link_text"><%= info.link_text %></div>
                            </div>
                        </a>
                    <% end %>
                    <% if info.link_type == 3 %>
                        <a href="<%= page_path(info.link_page_id) %>" target="_blank">
                            <div class="web_page_link_container">
                                <div class="web_page_link_text"><%= info.link_text %></div>
                            </div>
                        </a>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>