
    <div class="tile_container">
        <div class="colour_<%= colour_ref %> tile">
            <div class="tile_content">
                <div class="tile_title_text">Contact Us</div>
                <ul class="tile_contact_text">
                    <li><%= company.address_1 if company.address_1 %></li>
                    <li><%= company.address_2 if company.address_2 %></li>
                    <li><%= company.city if company.city %></li>
                    <li><%= company.county if company.county  %></li>
                    <li><%= company.postcode if company.postcode %></li>
                </ul>
                <ul class="tile_contact_text">
                    <li><%= company.phone_number if company.postcode %></li>
                </ul>
                <ul class="tile_contact_text">
                    <li><%= company.email if company.postcode %></li>
                </ul>
            </div>
        </div>
    </div>

           