
    <div class="tile_container">
        <div class="colour_<%= colour_ref %> tile">
            <div class="tile_detail">
                <p class="tile_title_text">Opening Hours</p>
                <ul>
                    <li class="tile_detail_text"><%= detail.monday %></li>
                    <li class="tile_detail_text"><%= detail.tuesday %></li>
                    <li class="tile_detail_text"><%= detail.wednesday %></li>
                    <li class="tile_detail_text"><%= detail.thursday %></li>
                    <li class="tile_detail_text"><%= detail.friday %></li>
                    <li class="tile_detail_text"><%= detail.saturday %></li>
                    <li class="tile_detail_text"><%= detail.sunday %></li>
                </ul>
            </div>
        </div>
    </div>                               