

    <div class="tile_container">
        <div class="colour_<%= colour_ref %> tile">
            <div class="tile_content">
                <div class="tile_title_text">Opening Hours</div>
                <% if hours %>
                <div class="hours">
                <table>
                    <tr>
                        <td class="tile_day_text">Mon:</td>
                        <% if hours.monday_status == "Open" %>
                            <td class="tile_hours_text"><%= hours.monday_open.to_s(:time) %> - <%= hours.monday_close.to_s(:time) %></td>
                        <% else %>
                            <td class="tile_hours_text">closed</td>
                        <% end %>
                    </tr>
                    <tr>
                        <td class="tile_day_text">Tue:</td>
                        <% if hours.tuesday_status == "Open" %>
                            <td class="tile_hours_text"><%= hours.tuesday_open.to_s(:time) %> - <%= hours.tuesday_close.to_s(:time) %></td>
                        <% else %>
                            <td class="tile_hours_text">closed</td>
                        <% end %>
                    </tr>
                    <tr>
                        <td class="tile_day_text">Wed:</td>
                        <% if hours.wednesday_status == "Open" %>
                            <td class="tile_hours_text"><%= hours.wednesday_open.to_s(:time) %> - <%= hours.wednesday_close.to_s(:time) %></td>
                        <% else %>
                            <td class="tile_hours_text">closed</td>
                        <% end %>
                    </tr>
                    <tr>
                        <td class="tile_day_text">Thu:</td>
                        <% if hours.thursday_status == "Open" %>
                            <td class="tile_hours_text"><%= hours.thursday_open.to_s(:time) %> - <%= hours.thursday_close.to_s(:time) %></td>
                        <% else %>
                            <td class="tile_hours_text">closed</td>
                        <% end %>
                    </tr>
                    <tr>
                        <td class="tile_day_text">Fri:</td>
                        <% if hours.friday_status == "Open" %>
                            <td class="tile_hours_text"><%= hours.friday_open.to_s(:time) %> - <%= hours.friday_close.to_s(:time) %></td>
                        <% else %>
                            <td class="tile_hours_text">closed</td>
                        <% end %>
                    </tr>                
                    <tr>
                        <td class="tile_day_text">Sat:</td>
                        <% if hours.saturday_status == "Open" %>
                            <td class="tile_hours_text"><%= hours.saturday_open.to_s(:time) %> - <%= hours.saturday_close.to_s(:time) %></td>
                        <% else %>
                            <td class="tile_hours_text">closed</td>
                        <% end %>
                    </tr>
                    <tr>
                        <td class="tile_day_text">Sun:</td>
                        <% if hours.sunday_status == "Open"%>
                            <td class="tile_hours_text"><%= hours.sunday_open.to_s(:time) %> - <%= hours.sunday_close.to_s(:time) %></td>
                        <% else %>
                            <td class="tile_hours_text">closed</td>
                        <% end %>
                    </tr>
                 </table>
                 </div>
                 <% end %>
            </div>
        </div>
    </div>                               