<div class="website_page_title">Upcoming <%=h @company.name %> Events</div>
    <% if @events %>
        <% @events.each do |event| %>
<div class="event_container">
  <table width="100%">
      <tr>
          <td colspan="2" class="event_title"><%=h event.topic %></td>
      </tr>
      <tr>
          <td width="170px" class="event_info">
              <table>
                  <tr>
                      <td><%=h event.date.strftime("%A %-d %B %Y") %></td>
                  </tr>
                  <tr>
                      <td>Start: <%=h event.finish.strftime("%I:%M %P") %></td>          
                  </tr>      
                  <tr>
                      <td>Finish: <%=h event.finish.strftime("%I:%M %P") %></td>          
                  </tr> 
              </table>
          </td>          
          <td class="event_info">
              <table>
                  <tr>
                      <td><%=h event.venue %></td>
                  </tr>
                  <tr>
                      <td><%=h event.address %></td>
                  </tr>
                  <tr>
                      <td> <%=h event.postcode %></td>                      
                  </tr>     
              </table>
          </td>
      </tr>      
  </table>
</div>
        <% end %>
    <% end %>
