<head>
  <title>MyHQ</title>
  
  <%= stylesheet_link_tag    'mjweb/application', media: 'all'%>
  <%= javascript_include_tag 'mjweb/application'%>
  <%= csrf_meta_tags %>
  
  <style>
    body {
        background: url('/assets/mjweb/background.jpg');
    }

    <% @colour_settings.each_with_index do |setting, i| %>        
        .colour_<%=i+1%>{
            color: <%= setting[:text] %>;
            background-color: <%= setting[:tile] %>;        
        }           

        .hover_<%=i+1%>{
            color: <%= setting[:text] %>;
            background-color: <%= setting[:tile] %>;
            background-image: url<%= setting[:tile_image] %>;             
        }

        .hover_<%=i+1%> a{
            color: <%= setting[:text] %>;          
        }

        .hover_<%=i+1%>:hover{
            color: <%= setting[:text_hover] %>;
            background: <%= setting[:tile_hover] %> url<%= setting[:tile_image_hover] %> 80px 0px; 
        } 

        .hover_<%=i+1%>:hover a{
            color: <%= setting[:text_hover] %>;
        }

    <% end %>

    .tile_link_icon {
        background: url('/assets/mjweb/web_icons.jpg') 80px 0;
    }
  </style>
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
    <div class="login_container">
      <%= link_to "Log-in", main_app.new_user_session_path, class: "login_link"%>   
    </div>
     
    <div class="header_container">  
        <div class="company_logo"></div>  
    </div>
    
    <% if !@detail.tagline.empty? %>
        <div class="company_tagline"> <table><tr><td class="tagline_cell"><%= @detail.tagline %></td></tr></table></div> 
    <% end %>



    <div class="social_media_container">                  
        <% if !@detail.facebook.empty? %>
            <div class="social_media_link">
                <%= link_to " ", @detail.facebook, class: "facebook"%> 
            </div>
        <% end %>
        <% if !@detail.twitter.empty? %>
            <div class="social_media_link">
                <%= link_to " ", @detail.twitter, class: "twitter"%> 
            </div>
        <% end %>
        <% if !@detail.googleplus.empty? %>
            <div class="social_media_link">
                <%= link_to " ", @detail.googleplus, class: "googleplus"%> 
            </div>
        <% end %>
        <% if !@detail.linkedin.empty? %>
            <div class="social_media_link">
                <%= link_to " ", @detail.linkedin, class: "linkedin"%> 
            </div>
        <% end %>  
    </div> 
 
</header> 


<article>
    <div class="content">
    
    <% @contents.each_with_index do |content, i| %>    
        <%= display_web_tiles(content, @detail, i) %>
    <% end%>
    
    </div>
      
</article>

<footer>
    <div class="footer_container">
        <div class="myhq_link">
            <a href="#">
                
            </a>
        </div>                
    </div>    
</footer>    
                       