
  


<title>MyHQ</title> 
  <%= stylesheet_link_tag    'mjweb/application', media: 'all'%>
  <%= javascript_include_tag 'mjweb/application'%>
  
  <style>
    html { font-size: 62.5%; }
    
    body {background: url('/assets/mjweb/<%= @design.background %>.jpg');}

    .tagline_cell_small{ <%= font_style_colour(@design.font) %> }   
    .tagline_cell_medium{ <%= font_style_colour(@design.font) %> }        
    .tile_title_text{ <%= font_style_colour(@design.font) %> }
        
    <% @colour_settings.each_with_index do |setting, i| %>        
        .colour_<%=i+1%>{
            color: <%= setting[:text] %>;
            background-color: <%= setting[:tile] %>;        
        }           

        .hover_<%=i+1%>{
            color: <%= setting[:text] %>;
            background-color: <%= setting[:tile] %>;           
        }

        .hover_<%=i+1%>:hover{
            color: <%= setting[:text_hover] %>;
            background-color: <%= setting[:tile_hover] %>; 
        } 
    <% end %>
  </style>



<header>
    <div class="login_container">
      <%= link_to "Log-in", main_app.new_user_session_path, class: "login_link"%>   
    </div>


    <div class="company_info_small">    
        <div class="header_container">   
            <div class="company_logo_small"><%= image_tag 'media_icons.png', height: '75'%></div>      
            <% if @detail.tagline %>
                <div class="company_tagline_small"> <table><tr><td class="tagline_cell_small"><%= @detail.tagline %></td></tr></table></div> 
            <% end %>
        </div>
    </div>

    <div class="company_info_medium">    
        <div class="header_container">
            <table border="0" cellpadding="0" cellspacing="0" class="company_logo_medium">
                <tr>
                    <td><%= image_tag 'media_icons.png', height: '75'%></td>
                    <% if @detail.tagline %>
                        <td class="tagline_cell_medium"><%= @detail.tagline %></td>
                    <% end %>
                </tr>
            </table>
        </div>
    </div>

    <div class="social_media_container">                  
        <% if @detail.facebook %>
            <div class="social_media_link">
                <%= link_to " ", @detail.facebook, class: "facebook"%> 
            </div>
        <% end %>
        <% if @detail.twitter %>
            <div class="social_media_link">
                <%= link_to " ", @detail.twitter, class: "twitter"%> 
            </div>
        <% end %>
        <% if @detail.googleplus %>
            <div class="social_media_link">
                <%= link_to " ", @detail.googleplus, class: "googleplus"%> 
            </div>
        <% end %>
        <% if @detail.linkedin %>
            <div class="social_media_link">
                <%= link_to " ", @detail.linkedin, class: "linkedin"%> 
            </div>
        <% end %>  
    </div>  
</header> 

<article>
    <div class="content">    
        <% @contents.each_with_index do |content, i| %>  
                <%= content_display(content, @colour_settings, i) %>                  
        <% end%> 
    </div>      
</article>

<footer>
    <div class="footer_container">
        <table><tr>
            <td><%= link_to " ", "www.myhq.co.uk", class: "myhq_icon"%></td>
            <td class="footer_text">myhq promotional text here</td>
        </tr></table>               
    </div>    
</footer>    
                       